* {
    transition: 0.5s;
  }

/* Task 1: Hover Highlight Card */
.hover-highlight-card {
    padding: 20px;
}

.hover-highlight-card:hover {
    background-color: lightblue;
    box-shadow: 10px 5px 5px rgb(90, 103, 118);
}

/* Task 2: Animated Navigation Menu */
.animated-nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.animated-nav-menu a {
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    color: #456e82;
    background-color: rgb(187, 217, 228);
    transition: .5s ease-in;
}

.animated-nav-menu a:hover {
    background-color: #456e82;
    color: rgb(187, 217, 228);
    transition: background-color .05s;
}

/* Task 3: Button Press Animation */
.button-press-animation button {
    padding: 10px 20px;
    border: none;
    background-color: #00aaff;
    color: white;
    cursor: pointer;
    transition:0.1s;
}

.button-press-animation button:active {
    transform: translateY(10px);
}

/* Task 4: Simple Loading Spinner */
.simple-loading-spinner .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 20px;
    animation-name: rotating-spinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotating-spinner {
    From {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

/* Task 5: Fading Gallery */
.fading-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fading-gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: .15s ease-in;
    opacity: 70%;
}

.fading-gallery img:hover {
    transform: translateY(-20px) scale(1.2);
    box-shadow: 5px 5px 5px rgb(193, 168, 126);
    opacity: 1;
    border: 2px solid rgb(255, 236, 201);
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(173, 111, 67), rgb(235, 225, 175), rgb(254, 255, 196));
}