.btn {
    width: 1px;
    height: 1px;
    background-color: white;
    opacity: 20%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.rect-body{
    height: 75vh;
    width: auto;
    background-color: white;
    opacity: 75%;
    display: flex;
}