:root {
    cursor: url("../images/smalldot.png"), grab;
}

h1{
    color: white;
}

div{
    color:white
}

p {
    color: purple;
}


#veryimportant {
    color: white;
    border: 1px white solid;
}


.sillyicecream {
    color: white;
}


.yay {
    color: rgb(175, 234, 253);
}


#life-lessons {
    color: lightblue;
}


body {
    background-image: linear-gradient(to bottom, black, rgb(36, 36, 83), lightblue);
    height: 100vh
}
