:root {
    cursor: url("../images/smalldot.png"), grab;
}

.important{
    color: rgb(157, 172, 206);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bigcircle{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.clickedtimes div{
    color:white
}

p {
    color: rgb(206, 110, 206);
}


.veryimportant {
    color: white;
    border: 1px white solid;
}


.sillyicecream {
    color: white;
}


.yay {
    color: rgb(175, 234, 253);
}


#life-lessons {
    color: lightblue;
}


body {
    background-image: linear-gradient(to bottom, black, rgb(36, 36, 83), lightblue);
    height: 100vh
}
