:root{
    cursor: url("../images/smalldot.png"), grab;
}

a{
    cursor: url("../images/smalldot.png"), grab;
}

body{
    margin: 0;
    padding: 0;
    height: 75vh;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    background-color: rgb(12, 12, 23);
}

.headers{
    color: white;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: none;
    margin: 7px;
}

.smallerheaders .headers{
    font-size: 5px;
    padding: 3px;
}

.container{
    display: grid;
    place-items: center;
    margin: 10px auto;
    width: 71%;
}

#gallery{
    height: 300px;
    padding: 20px;
    opacity: 40%;
    transition: .3s ease-out
}

#gallery:hover{
    border: 2px dotted rgb(65, 77, 108);
    opacity: 100%;
}

.navi-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

.navi-menu a{
    color: rgb(34, 46, 66);
    background-color: rgb(192, 202, 209);
    text-decoration: none;
    border: 1px solid white;
    font-size: 15px;
    padding: 7px;
    opacity: 20%;
    transition: .5s ease-in;
    border-radius: 5%;
}

.navi-menu a:hover {

    color: rgb(255, 255, 255);
    background-color: #7591a1;
    opacity: 80%;
  }